<html>
  <head>
    <title>One Honeycomb at a Time!</title>
    <link href="http://fonts.googleapis.com/css?family=Cherry+Swash" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ruda" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css"></link>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
